# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/

# Docs
docs/

# Dotenv file
.env

# others
zkout/
.notes.md
debugger/
.vscode
.DS_Store
.encryptedKey.json
.devex_issues.md
